USE [luciano_DB]
GO
/****** Object:  StoredProcedure [dbo].[Luciano_insert_Note]    Script Date: 2020/6/11 下午 06:32:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Luciano>
-- Create date: <2020/6/11>
-- Description:	<插入数据到sqlserver>
-- =============================================
CREATE PROCEDURE [dbo].[Luciano_insert_Note] 
	@title nvarchar(50)='',
	@content nvarchar(max)=''
AS
BEGIN
	insert into Luciano_Note (title,content)values(@title,@content)
END

GO
/****** Object:  StoredProcedure [dbo].[Luciano_TS]    Script Date: 2020/6/11 下午 06:32:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create the stored procedure in the specified schema
CREATE PROCEDURE [dbo].[Luciano_TS]
    --@param1 /*parameter name*/ int /*datatype_for_param1*/ = 0, /*default_value_for_param1*/
    --@param2 /*parameter name*/ int /*datatype_for_param1*/ = 0 /*default_value_for_param2*/
    @content nvarchar(100)
-- add more stored procedure parameters here
AS
    -- body of the stored procedure
    --SELECT @param1, @param2
    -- Select rows from a Table or View 'TableOrViewName' in schema 'SchemaName'
      DECLARE @result NVARCHAR(100)
   SELECT @result=title
FROM Luciano_Note
WHERE title LIKE '%'+@content+'%' 
PRINT @result
--    IF(@result!='')
--    BEGIN
--     SELECT *
--     FROM Luciano_Note;
-- END

GO
/****** Object:  Table [dbo].[albums]    Script Date: 2020/6/11 下午 06:32:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[albums](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[thumbnail] [nvarchar](max) NOT NULL,
	[insertTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_albums] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Luciano_Login]    Script Date: 2020/6/11 下午 06:32:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Luciano_Login](
	[id] [int] NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Luciano_Note]    Script Date: 2020/6/11 下午 06:32:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Luciano_Note](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NULL,
	[content] [nvarchar](max) NULL,
	[insertTime] [datetime] NOT NULL,
	[updateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Luciano_Note] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Luciano_Photo]    Script Date: 2020/6/11 下午 06:32:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Luciano_Photo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[albumsid] [int] NOT NULL,
	[describtion] [nvarchar](max) NULL,
	[title] [nvarchar](50) NULL,
	[url] [nvarchar](max) NULL,
	[insertTime] [datetime] NULL,
	[updateTime] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[albums] ON 

INSERT [dbo].[albums] ([id], [title], [thumbnail], [insertTime], [updateTime]) VALUES (1, N'我的第一个相册', N'https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3565578506,42843461&fm=26&gp=0.jpg', CAST(0x0000ABD000BCB66E AS DateTime), CAST(0x0000ABD000BCB66E AS DateTime))
INSERT [dbo].[albums] ([id], [title], [thumbnail], [insertTime], [updateTime]) VALUES (2, N'我的第二个相册', N'http://img2.imgtn.bdimg.com/it/u=1452949182,3739426632&fm=26&gp=0.jpg', CAST(0x0000ABD10113FA81 AS DateTime), CAST(0x0000ABD10113FA81 AS DateTime))
SET IDENTITY_INSERT [dbo].[albums] OFF
INSERT [dbo].[Luciano_Login] ([id], [username], [password]) VALUES (1, N'Luciano', N'123')
SET IDENTITY_INSERT [dbo].[Luciano_Note] ON 

SET IDENTITY_INSERT [dbo].[Luciano_Note] OFF
SET IDENTITY_INSERT [dbo].[Luciano_Photo] ON 

INSERT [dbo].[Luciano_Photo] ([id], [albumsid], [describtion], [title], [url], [insertTime], [updateTime]) VALUES (3, 1, N'没有描述', N'《夏日玫瑰》', N'https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3565578506,42843461&fm=26&gp=0.jpg', CAST(0x0000ABD000CABAC9 AS DateTime), CAST(0x0000ABD000CABAC9 AS DateTime))
INSERT [dbo].[Luciano_Photo] ([id], [albumsid], [describtion], [title], [url], [insertTime], [updateTime]) VALUES (10, 1, N'没有描述', N'《夏日恋情》', N'https://dss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1275609037,3709846252&fm=26&gp=0.jpg', CAST(0x0000ABD000F63CFA AS DateTime), CAST(0x0000ABD000F63CFA AS DateTime))
INSERT [dbo].[Luciano_Photo] ([id], [albumsid], [describtion], [title], [url], [insertTime], [updateTime]) VALUES (11, 1, N'没有描述', N'《夏日最爱》', N'https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1301743700,3288488513&fm=26&gp=0.jpg', CAST(0x0000ABD000F89DE7 AS DateTime), CAST(0x0000ABD000F89DE7 AS DateTime))
SET IDENTITY_INSERT [dbo].[Luciano_Photo] OFF
ALTER TABLE [dbo].[albums] ADD  CONSTRAINT [DF_albums_insertTime]  DEFAULT (getdate()) FOR [insertTime]
GO
ALTER TABLE [dbo].[albums] ADD  CONSTRAINT [DF_albums_updateTime]  DEFAULT (getdate()) FOR [updateTime]
GO
ALTER TABLE [dbo].[Luciano_Note] ADD  CONSTRAINT [DF_Luciano_Note_insertTime]  DEFAULT (getdate()) FOR [insertTime]
GO
ALTER TABLE [dbo].[Luciano_Note] ADD  CONSTRAINT [DF_Luciano_Note_updateTime]  DEFAULT (getdate()) FOR [updateTime]
GO
ALTER TABLE [dbo].[Luciano_Photo] ADD  CONSTRAINT [DF_Luciano_Photo_insertTime]  DEFAULT (getdate()) FOR [insertTime]
GO
ALTER TABLE [dbo].[Luciano_Photo] ADD  CONSTRAINT [DF_Luciano_Photo_updateTime]  DEFAULT (getdate()) FOR [updateTime]
GO
ALTER TABLE [dbo].[Luciano_Photo]  WITH CHECK ADD  CONSTRAINT [FK_Luciano_Photo_albums] FOREIGN KEY([albumsid])
REFERENCES [dbo].[albums] ([id])
GO
ALTER TABLE [dbo].[Luciano_Photo] CHECK CONSTRAINT [FK_Luciano_Photo_albums]
GO
